<div class="card">
  <img *ngIf="item.image" [src]="item.image" />
  <div class="card_img_div" *ngIf="!item.image"></div>
  <div class="dots">• • •</div>

  <h2>
    {{ item.name || 'Dish name' }}
  </h2>

  <p>
    {{ item.description || 'Description' }}
  </p>

  <strong> {{ item.price || '00.00' }} € </strong>
  <br />

  <div class="tags_group">
    <app-tag *ngFor="let diet of selectedDiets" [label]="diet.label"> </app-tag>

    <app-tag *ngFor="let allergen of selectedAllergens" [label]="allergen.label"> </app-tag>
  </div>
</div>
