<div class="category-pills">
  <button
    *ngFor="let category of categories"
    type="button"
    class="category-pills__item"
    [class.category-pills__item--active]="category.id === activeCategoryId"
    (click)="categorySelected.emit(category.id)"
  >
    {{ category.label }}
  </button>

  <button
    type="button"
    class="category-pills__add"
    (click)="onAddNewCategory()"
    *ngIf="!isAddCategory()"
  >
    <img src="assets/icons/Plus.svg" class="category-pills__add-icon" /> Add category
  </button>
  <input
    (keydown)="onSaveNewCategory($event)"
    type="text"
    #categoryInput
    id="category_add_input"
    class="category-pills__add"
    (blur)="isAddCategory.set(false)"
    *ngIf="isAddCategory()"
  />
</div>
