<div class="category-pills">
  <button
    *ngFor="let category of categories"
    type="button"
    class="category-pills__item"
    [class.category-pills__item--active]="category.id === activeCategoryId"
    (click)="selectCategory(category.id)"
  >
    {{ category.label }}
  </button>

  <button
    type="button"
    class="category-pills__add"
    (click)="onAddNewCategory()"
    *ngIf="!isAddCategory()"
  >
    <img src="assets/icons/Plus.svg" class="category-pills__add-icon" />

    Add category
  </button>

  <input
    *ngIf="isAddCategory()"
    #categoryInput
    type="text"
    autocomplete="off"
    placeholder="Category name"
    class="category-pills__add"
    (keydown)="onSaveNewCategory($event)"
    (blur)="isAddCategory.set(false)"
  />
</div>
