@use '../../styles/var' as *;
:host {
  display: block;
  width: 1098px;
}

.category-pills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 16px 8px;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-pills__item {
  height: 36px;
  padding: 0 18px;
  border: 1px solid $color-border-secondary;
  border-radius: 999px;
  color: $color-text-secondary;
  background: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;

  cursor: pointer;

  &:hover {
    border-color: #0c0000;
  }

  &--active {
  }
}

.category-pills__add {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 146px;
  height: 36px;
  padding: 0 18px;
  border: 1px dashed $color-border-secondary;
  border-radius: 999px;
  background: transparent;
  color: $color-text-secondary;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    border-color: $color-border-secondary;
    color: #111;
  }
}
