@use '../../styles/var' as *;

:host {
  display: block;
  width: 100%;
  max-width: $content-max-width;
}

.dish-table__scroll {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.dish-table {
  min-width: $content-max-width;
}

.dish-table__head {
  display: grid;
  grid-template-columns: 40px 64px 1fr 1fr 104px 122px 122px 83px;
  align-items: center;
  gap: 16px;
  padding: 16px 12px;
  background: $color-bg-head;
  border-bottom: 1px solid $color-border-secondary;
}

.dish-table__col {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-secondary;
}

.dish-table__col--drag,
.dish-table__col--image {
  visibility: hidden;
}

.dish-table__stop-list {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  color: rgba(255, 68, 5, 1);
  white-space: nowrap;

  & img {
    margin-left: 4px;
  }
}

@include tablet {
  .dish-table__head {
    display: none;
  }

  .dish-table {
    min-width: 0;
  }
}
@include tablet {
  .dish-table__head {
    display: none;
  }

  .dish-table {
    min-width: 0;
    background: $color-bg-head;
    padding: 12px;
    border-radius: 12px;
  }
}
