<div class="menu-tabs">
  <button
    *ngFor="let tab of tabs"
    type="button"
    class="menu-tabs__item"
    [class.menu-tabs__item--active]="tab.id === activeTabId"
    (click)="tabSelected.emit(tab.id)"
  >
    {{ tab.name }}
  </button>

  <button type="button" class="menu-tabs__add" *ngIf="!isAddTab()" (click)="onAddNewTab()">
    <img src="assets/icons/Plus.svg" class="menu-tabs__add-icon" /> Add Menu
  </button>
  <input
    type="text"
    #tabInput
    class="menu-tabs__add"
    style="border: none; outline: none"
    *ngIf="isAddTab()"
    (blur)="isAddTab.set(false)"
    (keydown)="onSaveNewTab($event)"
  />
</div>
